*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header__hijo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    justify-self: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 0;
   
}

.compu{
 width: 100%;
 height: 100%;
}

.main{
    display: block;
    padding-top: 70px;
    margin-top: 20px;
}

/* SECCIÓN QUIENES SOMOS */
.section__nosotras {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.foto__alumna {
    width: 150px;
}

.alumna {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.alumna__hijo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}