*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

:root{
    --verdeos:#099d8d;
    --verdecla:#14d9c4;
    --blanco:#ffffff;
    --negro:#000000;
    --grisoscu:#54585a;
    --griscla: #b8b8b9;
    --grisfondo:#f1f1f1;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #099d8d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 0; 
}

.menu{
    display: flex;
    gap: 10px;
    list-style: none;
}

.principal-menu{
    margin: 15px;
    padding: 15px;
}

.slogan{
    background-image: url("./imgs/foto-cabecera.jpg");
    background-repeat: no-repeat;
    height: 421px;
    display: flex;
    flex-direction: column;
    justify-content: end;  
}

@media screen and (min-width: 480px) {
    .seccion-plan{    
        background-image: url("./imgs/foto-cabecera.jpg");
    }   
}

.slogan-text{
    background-color: var(--blanco);
    width: 320px;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: opensans;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: var(--grisoscu);
    padding: 16px;
}
.title-team{
    color: var(--verdecla);
    font-family: Rubik;    
    font-weight: 500;
    line-height: 1.88;
    font-size: 24px;
    margin-top: 35px;
}

.main{
    display: block;
    padding-top: 70px;
    margin-top: 20px;
}

.titlesfor{
    color: var(--verdeos);
}

.box{
    background-color: var(--blanco);
    margin: 0 auto;
    height: 30px;
    width: 30px;
    transform: rotate(45deg) translate(  -50%, -20%);
    position: sticky;
}

.containerstrong{
    background-color: var(--grisoscu);
    display: flex;
    flex-direction: column;
}

.container-us{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.girls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.girls-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
 
.photo{
    width: 150px;
}

.retangle{
    display: flex;
    width: 320px;
    height: 250px;
    padding: 30px 74px 45px;
    background-color: var(--blanco);
    border: solid 1px var(--griscla);    
}

.footer{
    text-align: center;    
}

.name-group{
    color: var(--griscla);
    font-size: 14px;
    line-height: 1.43;
}
a{
    color: var(--grisoscu);
    text-decoration: none;
    font-size: 14px;  
    font-weight: 600;   
}

.logo-adalab{
    width: 115.9px;
    height: 45px;
    margin: 30px 28.1px 0 28px;
    background-color: var(--blanco);        
}

