
:root {
    --verdeos:#099d8d;
    --verdecla:#14d9c4;
    --blanco:#ffffff;
    --negro:#000000;
    --grisoscu:#54585a;
    --griscla: #b8b8b9;
    --grisfondo:#f1f1f1;
    --font-family: sans-serif;
}
