
.slogan-image{
    background: url("../images/fondo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 18rem;
    width: 100%;
}

.slogan-text{
    font-weight: bold;
    background-color: var(--blanco);
    width: 290px;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    transform: translateY(250px);
}

@media screen and (min-width: 768px) {
    .slogan-image{
        background: url("../images/banner.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 25rem;
        width: 100%;
    }  
    .slogan-text{
        font-weight: bold;
        background-color: var(--blanco);
        width: 390px;
        padding: 15px;
        margin-left: 30px;
        font-size: 1.2rem;
        transform: translateY(330px);
        opacity: 0.7;
    }
}


