
.slogan-image{
    background: url("../images/fondo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 15rem;
    width: 100%;
}

.slogan-text{
    font-weight: bold;
    background-color: var(--blanco);
    width: 290px;
    padding: 5px;
    margin-left: 5px;
    font-size: 1rem;
    transform: translateY(215px);
    opacity: 0.7;
}


@media screen and (min-width: 768px) {
    .seccion-plan{    
        background-image: url("../images/fondo.png");
        background-size: 100% 100%;
        min-height: 31.1rem;
    }   
}


@media screen and (min-width: 1200px) {
   
}
/*
@media screen and (min-width: ){
    
}*/


