<section class="containerstrong">
    <div class="containerstrong-box"></div>
    <div strong-box>
        <h3 class="containerstrong_titlesfor">Fortalezas</h3>
        <p class="containerstrong_titlesfor-paragraph">Todas tenemos un objetivo común, convertirnos en futuras programadoras. Entre nuestras fortalezas incluyen diversidad de perspectivas, apoyo mutuo y disposición para aprender. Estas cualidades nos permiten enfrentar los retos que nos propongan y alcanzar nuestros objetivos juntas.</p>
    </div>
    <div>
        <h3 class="containerstrong_titlesfor">Objetivos</h3>
        <p class="containerstrong_titlesfor-paragraph">Nuestro mayor objetivo es superar nuestra falta de experiencia inicial mediante el desarrollo de habilidades técnicas y prácticas. Transformar nuestras debilidades en fortalezas sólidas a lo largo de esta aventura. Comprometernos con un aprendizaje continuo aprovechando al máximo los recursos del Bootcamp y asegurar un progreso constante en nuestra formación como programadoras juniors.</p>
    </div>
</section>