    <article class="girls">
        <img
            src="/images/foto-rafa.png"
            alt="foto chica"
            class="girls__photo"
        >
        <div class="girls__section">
            <h3 class="girls__section--name">Rafaela Pessoa</h3>
            <p class="girls__section--description">Soy Rafaela, nacida en Brasil pero vivo en España desde hace 5 años y tengo una hija preciosa. La maternidad y la migración de país me han hecho una persona muy resiliente, paciente y fuerte. Siendo así me considero apta para enfrentar los retos del mundo de la programación. Siempre me ha encantado la tecnología y estoy muy animada con este mundo.</p>
            <load
                src="/partials/redes.html"
                xtwitter="https://twitter.com/rafa_rafissima_" 
                linkedin="https://www.linkedin.com//in/rafaela-pessoa-a6231624a//"
                github="https://github.com/rafaelapessoa"
                email="mailto:rafaelatunu@gmail.com"
            />
        </div>
    </article> 

    <article class="girls">
        <img
            src="/images/fotoOti.jpg"
            alt="foto chica"
            class="girls__photo"
        >
        <div class="girls__section">
            <h3 class="girls__section--name">Otilia Nicola</h3>
            <p class="girls__section--description">Como adalaber, mamá y aspirante a programadora junior busco dar un cambio significativo a mi vida para para lograr una mejora profesional. Es un gran reto para mí, aunque sé que con esfuerzo y dedicación lograré mis objetivos. Cada paso que doy me acerca más a convertir mis sueños en realidad. </p>
            <load
                src="/partials/redes.html"
                xtwitter="https://twitter.com/OtiliaNicola" 
                linkedin="https://www.linkedin.com/in/otilia-georgiana-nicola-a90809118/"
                github="https://github.com/OtiliaNicola/Ejercicios-de-Adalab"
                email="mailto:otilianicola94@gmail.com"
            />
        </div>
    </article> 

    <article class="girls">
        <img src="/images/foto-diana.JPG" alt="foto chica"
        class="girls__photo">
        <div class="girls__section">
            <h3 class="girls__section--name">Diana Guillot</h3>
            <p class="girls__section--description">Después de mi trayectoria en el sector bancario, decidí embarcarme en una emocionante nueva aventura profesional adentrándome en el mundo de la programación. Mi experiencia previa me brindó una base sólida en análisis de datos, gestión eficiente y resolución de problemas complejos. Estas habilidades se han convertido en pilares fundamentales que ahora aplico en el campo de la programación. Soy una persona perseverante y adaptativa y es por ello que estoy emocionada de seguir aprendiendo y creciendo en este nuevo camino.</p>
            <load
                src="/partials/redes.html"
                linkedin="https://www.linkedin.com/in/diana-guillot-amado-90b64a143/"
                github="https://github.com/Guillotdiana"
                email="mailto:dianaga93@hotmail.com"
            />
        </div>
    </article> 

    <article class="girls">
        <img
            src="/images/foto-delia.jpg" 
            alt="foto chica"
            class="girls__photo"
        >
        <div class="girls__section">
            <h3 class="girls__section--name">Delia García</h3>
            <p class="girls__section--description">Nacida en Galicia, me caracterizo por ser una persona alegre y creativa, con una formación sólida en ingeniería que me ha enseñado responsabilidad y habilidades analíticas. En mi continua búsqueda de conocimiento me he lanzado a explorar el mundo de la programación, ¡y estoy emocionada de seguir aprendiendo y crecer aún más!
            </p>
            <load
                src="/partials/redes.html"
                xtwitter="https://adalab.es/" 
                linkedin="https://www.linkedin.com/in/delia-garcia-burgos/"
                github="https://github.com/deligarbur"
                email="mailto:tucorreo@loquesea.com"
            />
        </div>
    </article> 