    <article class="girls">
        <img src="{=$imagen}" alt="foto chica"
            class="photo">
        <div class="girls-text">
            <h3>{=$name}</h3>
            <p>{=$descripcion}</p>
            <div class="rrss">
                <i class="fa-brands fa-x-twitter"></i>
                <span>·</span>
                <i class="fa-brands fa-linkedin"></i>
                <span>·</span>
                <i class="fa-brands fa-github-alt"></i>
                <span>·</span>
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>
    </article>
