<section class="containerstrong">
    <div class="box"></div>
    <div>
        <h3 class="titlesfor">Fortalezas</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum accusantium ex, asperiores magni
            voluptatum nihil labore dolorem, nemo fugit, quis facere provident voluptatem enim consectetur dolor
            perferendis optio eaque minima!</p>
        <div>RRSS</div>

    </div>
    <div>
        <h3 class="titlesfor">Debilidades</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, consectetur. Tempore consequatur
            omnis error nam aut enim, reiciendis sunt doloribus nihil similique numquam. Quas voluptas suscipit
            provident illum maiores enim!</p>
        <div>RRSS</div>

    </div>
</section>