<section class="containerstrong">
    <div class="box"></div>
    <div>
        <h3 class="titlesfor">Fortalezas</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum accusantium ex, asperiores magnivoluptatum nihil labore dolorem, nemo fugit, quis facere rovidento luptatemen iconsectetur dolorperferendis optio eaque minima!</p>
    </div>
    <div>
        <h3 class="titlesfor">Debilidades</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, consectetur. Tempore consequaturomnis error nam aut enim, reiciendis sunt doloribus nihil similique numquam. Quas voluptas suscipitprovident illum maiores enim!</p>
    </div>
</section>