    <article class="girls">
        <img src="{=$imagen}" alt="foto chica"
            class="girls__photo">
        <div class="girls__section">
            <h3 class="girls__section--name">{=$name}</h3>
            <p class="girls__section--description">{=$descripcion}</p>
            <load
                src="/partials/redes.html"
                xtwitter="{=$xtwitter}" 
                linkedin="{=$linkedin}"
                github="{=$github}"
                email="{=$email}"
            />
        </div>
    </article> 