<footer class="footer">
    <span class="name-group">Las Chicas del Código © 2024</span>
    <nav class="nav-footer">
        <ul class="list">
            <li>
                <a class="menu-li" href="#equipo">EQUIPO</a>
            </li>
            <li>
                <a class="menu-li" href="#quienes-somos">QUIÉNES SOMOS</a>
            </li>
            <li>
                <a class="menu-li" href= "./contact.html">CONTACTO</a>
            </li>
        </ul>
    </nav>
    
    <div class="logo-footer">
        <a href="https://adalab.es/" target="_blank">
                <img class="logo-adalab" src="/images/logo-adalab (1).png" alt="logo Adalab">
        </a>
    </div>
</footer>