<section class="team">
    <h2 class="title-team">CHICAS DEL CODIGO</h2>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nulla nobis aperiam, praesentium totam odio
        voluptatem nostrum dicta suscipit fugit ullam quos hic iusto expedita molestiae, a deserunt accusantium
        nemo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nulla nobis aperiam, praesentium totam odio
        voluptatem nostrum dicta suscipit fugit ullam quos hic iusto expedita molestiae, a deserunt accusantium
        nemo.</p>
</section>