<section class="team" id="equipo">
    <h2 class="title-team">EQUIPO</a></h2>
    <P class="text-team"> ¡Permítenos presentarnos! Somos un equipo de cuatro mujeres jóvenes apasionadas por el desarrollo web y comprometidas con nuestro crecimiento profesional. Juntas, estamos dando nuestros primeros pasos en el mundo de la tecnología a través del bootcamp de Adalab. <br>

        <br>Desde diferentes trayectorias y experiencias, nos unimos con entusiasmo para crear esta plataforma colaborativa. Aquí compartimos nuestra información social, brindando una visión única de nuestras habilidades y experiencias para construir nuestro futuro y dejar nuestra huella en el mundo digital.</p>
</section>