/*
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'pages/index';
*/
@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/slogan';
@import 'layout/team';
@import 'layout/containerstrong';
@import 'layout/container-us';
@import 'layout/footer';

:root {
    --verdeos:#099d8d;
    --verdecla:#14d9c4;
    --blanco:#ffffff;
    --negro:#000000;
    --grisoscu:#54585a;
    --griscla: #b8b8b9;
    --grisfondo:#f1f1f1;
    --font-family: sans-serif;
}

.principal-menu{
    width: 100%;
}
