/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

@import 'core/reset';
@import 'core/variables';



:root {
    --verdeos:#099d8d;
    --verdecla:#14d9c4;
    --blanco:#ffffff;
    --negro:#000000;
    --grisoscu:#54585a;
    --griscla: #b8b8b9;
    --grisfondo:#f1f1f1;
    font-family: "Rubik", sans-serif;
}


.header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header__title{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    background-color: #099d8d;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 0;
    color: white;
    opacity: 0.8;
}

.title{
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 0; 
}

.navegador{
    background-color: #14d9c4;
    width: 100%;
    opacity: 0.7;
}

.menu{
    color: var(--blanco);
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.menu-li{
    color: var(--blanco);
}

.principal-menu{
    width: 100vw;
    display: block;
}

.slogan{
    background: url(../images/foto-cabecera.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 421px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (min-width: 480px) {
    .seccion-plan{    
        background-image: url("../images/foto-cabecera.jpg");
    }   
}

.slogan-text{
    font-weight: bold;
    background-color: var(--blanco);
    width: 320px;
    padding: 15px;
    margin: 0 15px;
    font-size: 18px;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: var(--grisoscu);
    padding: 16px;
}

.title-team{
    color: var(--verdeos);
    font-family: Rubik;    
    font-weight: 500;
    line-height: 1.88;
    font-size: 24px;
    margin-top: 35px;
}

.titlesfor{
    color: var(--verdeos);
}

.box{
    background-color: var(--blanco);
    margin: 0 auto;
    height: 30px;
    width: 30px;
    transform: rotate(45deg) translate(  -50%, -20%);
    position: sticky;
}

.containerstrong{
    background-color: var(--grisfondo);
    display: flex;
    flex-direction: column;
}

// QUIENES SOMOS
.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus__title {
    font-family: Rubik; 
    color: var(--verdeos);
    font-weight: 500;
    line-height: 1.88;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.girls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.girls__section {
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.girls__section--name {
    color: var(--negro);
    font-weight: 500;
    line-height: 1.88;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    
}
 
.girls__section--description {
    display: flex;
    color: var(--grisoscu);
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
}

.girls__photo {
    width: 180px;
    border: 5px solid;
    border-color: #f1f1f1;
    border-radius: 10px;
}

.girls__section--rrss {
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.girls__section--rrss a {
    color: var(--verdeos);
}

.girls__section--rrss span {
    color: var(--grisoscu);
}

@media all and (min-width:768px) {
    .aboutus__title {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    
    .girls {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .aboutus article:nth-child(odd) {
        flex-direction: row-reverse;
        .girls__section{
            align-items: flex-end;
            .girls__section--description{
                
            }
     }
    }

    .girls__section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding-left: 30px;
        padding-right: 45px;
    }

    .girls__section--name {
        padding-top: 0;
    }

    .girls__section--description {
        padding-left: 0;
        text-align:start;
        line-height: 1.5;
    }
    
    .girls__section--rrss {
        padding-bottom: 60px;
    }

}

@media all and (min-width:1200px) {



}

.footer{
    text-align: center;
    border-top: solid 1px var(--griscla);   
    padding: 30px 45px; 
}

.name-group{
    color: var(--griscla);
    font-size: 14px;
    line-height: 1.43;
}

a{
    color: var(--grisoscu);
    text-decoration: none;
    font-size: 14px;  
    font-weight: 600;   
}
.list {
    list-style: none;
    padding-top: 20px;
}

.logo-adalab{
    width: 115.9px;
    height: 45px;
    margin: 30px 28.1px 0 28px;
    background-color: var(--blanco);        
}

